[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
packages/
AppPackages/
SubmissionInfo/
[Bb]in
[Oo]bj
.idea/
.idea/workspace.xml
.idea/tasks.xml
